<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- TimerInterval in millisecods 3600000 = 1hour-->
		<add key="TimerInterval" value="3600000"/>
		
		<!-- RetryDelayInterval in millisecods 10000 = 10 seconds-->
		<add key="RetryDelayInterval" value="10000"/>
		
		<add key="MaxRetryAttempts" value="5"/>
		
		<add key="OutputFolder" value="C:\temp\"/>		
	</appSettings>
</configuration>